.cache.dat
.xrf
ps
work
qis
*.lck
msimSimulationReplay.sh
hdl/generated
CVS
*.bak
quartus
*.info
*.$rec
transcript
rv64i_lib/hdl/*.bak
rv64i_lib/hdl/*.lck
rv64i_lib/hdl/*.lck
rv64i_lib/questasim/work/*
!rv64i_lib/questasim/work/*.do
!rv64i_lib/questasim/work/instructions.mif
rv64i_lib/modelsim/work/*
!rv64i_lib/modelsim/work/*.do
!rv64i_lib/modelsim/work/instructions.mif
