[submodule "vio-pretty-heap-svg"]
	path = vio-pretty-heap-svg
	url = https://github.com/UniStuttgart-IKR/vio-pretty-heap-svg
[submodule "vio-llvm"]
	path = vio-llvm
	url = https://github.com/UniStuttgart-IKR/vio-llvm
[submodule "vio-emu"]
	path = vio-emu
	url = https://github.com/UniStuttgart-IKR/vio-emu
[submodule "vio-swkit"]
	path = vio-swkit
	url = https://github.com/UniStuttgart-IKR/vio-swkit
[submodule "vio-vscode-extension"]
	path = vio-vscode-extension
	url = https://github.com/UniStuttgart-IKR/vio-vscode-extension
[submodule "vio-impl"]
	path = vio-impl
	url = https://github.com/UniStuttgart-IKR/vio-impl
