.cache.dat
.xrf
ps
work
qis
*.lck
msimSimulationReplay.sh
hdl/generated
CVS
*.bak
quartus
*.info
*.$rec
transcript
rv64i_lib/hdl/*.bak
rv64i_lib/hdl/*.lck
rv64i_lib/hdl/*.lck
rv64i_lib/questasim/work/*
!rv64i_lib/questasim/work/*.do
!rv64i_lib/questasim/work/instructions.mif
rv64i_lib/modelsim/work/*
!rv64i_lib/modelsim/work/*.do
!rv64i_lib/modelsim/work/instructions.mif
riscvio_lib/questasim/transcript.txt
riscvio_lib/modelsim/transcript.txt
RiscViO.hdp
riscvio_lib/boot.mif
riscvio_lib/sim/transcript.txt
riscvio_lib/sim/vsim.wlf
cyclonev_lib/questasim
cyclonev_lib/hds/.hdlsidedata
