[submodule "ass/ass/riscv-gnu-toolchain"]
	path = ass/ass/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-opcodes
[submodule "riscvio-swkit"]
	path = riscvio-swkit
	url = https://github.com/UniStuttgart-IKR/riscvio-swkit
[submodule "vio-pretty-heap-svg"]
	path = vio-pretty-heap-svg
	url = https://github.com/UniStuttgart-IKR/vio-pretty-heap-svg
