[submodule "ass/ass/riscv-gnu-toolchain"]
	path = ass/ass/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-opcodes
[submodule "riscvio-emu"]
	path = riscvio-emu
	url = https://github.com/UniStuttgart-IKR/riscvio-emu
[submodule "vio-pretty-heap-svg"]
	path = vio-pretty-heap-svg
	url = https://github.com/UniStuttgart-IKR/vio-pretty-heap-svg
[submodule "riscvio-gnu-toolchain"]
	path = riscvio-gnu-toolchain
	url = https://github.com/UniStuttgart-IKR/riscvio-gnu-toolchain
[submodule "vio-llvm"]
	path = vio-llvm
	url = https://github.com/UniStuttgart-IKR/vio-llvm
[submodule "riscvio-swkit"]
	path = riscvio-swkit
	url = https://github.com/UniStuttgart-IKR/riscvio-swkit
