:root {
    salmon:     #FF9AA2;
    pink:       #FFB7B2;
    peach:      #FFDAC1;
    lime:       #E2F0CB;
    teal:       #A0E6D3;
    mint:       #B5EAD7;
    periwinkle: #C7CEEA;
    lavender:   #C6AFE9;
    lilac:      #D8B5FF;
    purple:     #F4B3EF;
    magenta:    #FF9CEE;
    blush:      #FF8CC6;
    orange:     #FFB347;
    gold:       #FFD966;
    yellow:     #FDFD96;
}